/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --text-bold: 715;
  --text-regular: 410;
  --base-color: #ffffff;
  --primary-tone: #000000;
  --outline-tone: #fff;
  --contour-fill: #000;
  --animation-fill-color: #ff0000;
  --block-width: clamp(375px, 260.56px + 30.52vw, 700px);
  --border-size: 2px;
  --background-pattern: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
